{% load static %}
<footer class="mt-4 text-center text-lg-start bg-body-tertiary text-muted">
  <section class="d-flex align-items-center justify-content-center pt-4 ">
    <div>
      <a href="https://www.facebook.com/" class="me-4 text-reset text-decoration-none" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://www.x.com/" class="me-4 text-reset text-decoration-none" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com/" class="me-4 text-reset text-decoration-none" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com" class="me-4 text-reset" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </section>


  <!-- Copyright -->
  <div class="text-center p-4">
    © 2025 Copyright: 
    <a class="text-reset fw-bold" href="{% url 'home' %}">CtlAltElite</a>
  </div>
  <!-- Copyright -->
</footer>