{% extends 'base.html' %}

{% block head_title %}Booking{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Booking List</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Ticket Type</th>
                    <th scope="col">Event</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Booked At</th>
                    <th scope="col">Payment Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td><strong><a href="{% url 'event_detail' booking.ticket_type.event.id %}">{{ booking.ticket_type }}</a></strong></td>
                        <td>{{ booking.ticket_type.event.name }}</td>
                        <td>{{ booking.quantity }}</td>
                        <td>{{ booking.booked_at }}</td>
                        <td>{{ booking.payment_status }}</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm btn-cancel cancel-booking" data-booking-id="{{ booking.id }}" data-bs-toggle="modal" data-bs-target="#cancelModal">Cancel Booking</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Cancel confirmation modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel">Cancel Booking?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel this booking? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="cancelConfirm" href="#" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
