{% extends 'base.html' %} 

{% block content %} {% load static %}

<div class="event">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content py-3 px-3 px-sm-0 wow fadeInDown  animated" data-animation="fadeInDown animated" data-delay=".2s" id="nav-tabContent" style="visibility: visible; animation-name: fadeInDown;">
                    <div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="nav-home-tab">
                        <h1 class="text-center">Welcome to the Home Page</h1>
                        {% for event in events %}
                            <div id="row" class="row text-center">
                                <div class="col-lg-5 col-sm-12">
                                    <div class="position-relative">
                                        <img src="{{ event.image.url}}" alt="img">
                                        <div class="events-date">
                                            <div class="font-size28">{{ event.event.date|date:"d" }}</div>
                                            <div class="font-size14">{{ event.event.date|date:"M" }}</div>
                                         </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-sm-12">
                                    <div id="event-list-content" class="event-list-content fix">
                                        <ul data-animation="fadeInUp animated" data-delay=".2s" style="animation-delay: 0.2s;">
                                            <li><i class="fas fa-map-marker-alt"></i>{{event.event.address}}, {{event.event.city}}</li>
                                            <li><i class="far fa-clock"></i>{{event.event.time}}</li>
                                        </ul>
                                        <h2>{{event.event.organizer}}</h2>
                                        <p class="lineClamp">{{event.event.description}}</p>
                                        <a href="#" class="btn mt-20 mr-10">Buy Ticket</a>
                                        <a href="{% url 'event_detail' event.id %}" class="btn mt-20">Read More</a>
                                        <div class="crical"><i class="fal fa-magic"></i> </div>
                                    </div>
                                </div>
                            </div> 
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    <div class="col-lg-12 justify-content-center text-center">
        <a href="{% url 'event_list' %}" class="btn mt-20 mr-10">More Event  +</a>
    </div>
    </div>
</div>
{% endblock %}




