{% extends 'base.html' %} 

{% block content %} {% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content py-3 px-3 px-sm-0 wow fadeInDown  animated" data-animation="fadeInDown animated" data-delay=".2s" id="nav-tabContent" style="visibility: visible; animation-name: fadeInDown;">
                <div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="nav-home-tab">
                    <h1 class="text-center">Welcome to the Home Page</h1>
                    <!-- row loop -->
                     {% for event in events %}

                        <div class="row mb-30 text-center">
                        <div class="col-md-2 col-sm-12">
                            <div class="user">
                                <div class="title">
                                    <img src="{{ event.image.url}}" alt="img">
                                    <h5>{{ event.organizer }}</h5>
                                    <p>{{ event.name }}</p>
                                </div>
                                <ul>
                                    <li>Coffe &amp; Snacks</li>
                                    <li>Video Streming</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <div class="event-list-content fix">
                                <ul data-animation="fadeInUp animated" data-delay=".2s" style="animation-delay: 0.2s;" class="">
                                    <li>Waterfront Hotel, London</li>
                                    <li>9.30 - 10.30 AM</li>
                                </ul>
                                <h2>UX Design Trend Party 2019</h2>
                                <p>In order to save time you have to break down the content strategy for the event or conference you are planning step by step. Creating this process from scratch will take the longest amount of time to build, but once you have content production foundation.</p>
                                <a href="#" class="btn mt-20 mr-10"><i class="far fa-ticket-alt"></i> Buy Ticket</a>
                                <a href="#" class="btn mt-20">Read More</a>
                                <div class="crical"><i class="fal fa-video"></i> </div>
                            </div>
                        </div>
                    </div>

                     {% endfor %}
                    
                    
                    

                </div>
            </div>
            
        </div>
    </div>
{% endblock %}




