{% extends 'base.html' %} {% load static %}
{% block head_title %}Events{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="tab-content py-3 px-3 px-sm-0 wow fadeInDown  animated" data-animation="fadeInDown animated" data-delay=".2s" id="nav-tabContent" style="visibility: visible; animation-name: fadeInDown;">
                <div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="nav-home-tab">
                    <h1 class="text-center">Welcome to the Home Page</h1>
                    <!-- row loop -->
                     {% for event in events %}

                        <div class="row mb-30 text-center">
                        <div class="col-md-2 col-sm-12">
                            <div class="user">
                                <div class="title">
                                    <img src="{{ event.image.url}}" alt="img">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <div class="event-list-content fix">
                                <ul data-animation="fadeInUp animated" data-delay=".2s" style="animation-delay: 0.2s;" class="">
                                    <li>{{event.event.address}}, {{event.event.city}}</li>
                                    <li>{{event.event.time}}</li>
                                </ul>
                                <h2>{{event.event.organizer}}</h2>
                                <p>{{event.event.description}}</p>
                                <a href="#" class="btn mt-20 mr-10"><i class="far fa-ticket-alt"></i> Buy Ticket</a>
                                <a href="{% url 'event_detail' event.id %}" class="btn mt-20">Read More</a>
                                <div class="crical"><i class="fal fa-video"></i> </div>
                            </div>
                        </div>
                    </div>

                     {% endfor %}
                    
                    
                    

                </div>
            </div>
            
        </div>
    </div>
    </div>
{% endblock %}